{% if session.username %}
<a href="/logout">Kirjaudu ulos</a>

<br>

<a href = "/">Etusivu</a>

<br>

<p>Olet kirjautunut nimellä {{ session.username }}</p>

<form action="/send_message" method="POST">
      Viesti: <br>
      <textarea name="content" rows="3" cols="40"></textarea>
      <br>
      <textarea hidden name="forum_id">{{forum_id}}</textarea>
      <input type="submit" value="Lähetä">
      </form>
<hr>
{% for message in messages %}
{% set id_num = loop.index %}
{{id_num}}
{{ message[0] }}
<br>
<br>
Lähettäjä:{{ message[2] }}
<br>
{{ message[3] }}
<br>
<br>

{% if message[2] == session["username"] %}
<a href="{{ url_for('edit_message', id_num = message[1]) }}">Muokkaa</a>
<a href="{{ url_for('delete_message', id_num = message[1]) }}">Poista</a>

{% endif %}

<br>

Kommentit:
<br>
<br>

{% for comment in comments %}

{% if comment[4] == message[1] %}
{{ "  " + comment[1] }}
<br>
Lähettäjä: {{ "  " + comment[2] }}
<br> {{ "  " + comment[3]|string }}
<br>

{% if comment[2] == session["username"] %}
<a href="{{ url_for('edit_comment',id_num = comment[0]) }}">Muokkaa</a>
<a href="{{ url_for('delete_comment', id_num = comment[0]) }}">Poista</a>
{% endif %}
<br>
<br>

{% endif %}

{% endfor %}

<br>
<a href="{{ url_for('comment',id_num = message[1], forum_id = forum_id) }}">Kommentoi</a>
<hr>

{% endfor %}

{% else %}
<p class="flashes">Kirjaudu sisään!</p>
{% with messages = get_flashed_messages() %}  
         {% if messages %}  
               {% for message in messages %}  
                    <p>{{ message }}</p>  
               {% endfor %}  
         {% endif %}  
      {% endwith %}  
<form action="/login" method="POST">
<p>Tunnus:<br>
<input type="text" name="username"></p>
<p>Salasana:<br>
<input type="password" name="password"></p>
<input type="submit" value="Kirjaudu">
</form>
{% endif %}

